body,
html,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  background-blend-mode: screen;
}

.information {
  border-radius: 12px;
  padding: 5px 20px;
  height: auto;
  background: rgba(233, 48, 48, 0.6);
  color: white;
  white-space: nowrap;
  font-size: 22px;
}
